html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}


/*----------------*/
.oglavl {
    padding: 0;
    margin: 0;
}

.oglavl div {
    border-bottom: 1px dotted #C2C2C2; /* Необязателен. Здесь задается толщина, тип и цвет точек */
    position: relative;
    padding: 0;
    margin-bottom:5px; /* Необязателен. Задается для установки расстояния между блоками li */
}

.oglavl div span {
    background-color: #FFF; /* Это необходимо, чтобы перекрыть точки фоном */
    margin: 0;
}

.oglavl div span.emp-label, .oglavl div span.emp-value {
    bottom: -5px; /* Смещаем значимые блоки, чтобы они перекрыли точки */
}

.oglavl span.emp-label {
    position :relative;
    margin-right:7em; /* Задается чтобы текст не заходил на номера страниц */
    padding-right:2px; /* Необязателен. Задается чтобы точки не подходили вплотную к концу текста */
    font-weight: bolder;
}

.oglavl span.emp-value {
    position: absolute;
    right: 0;
    padding-left:2px; /* Необязателен. Задается чтобы точки не подходили вплотную к номерам страниц */

}

.popover ul {
    padding-left: 15px;
}

.video-report-view{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.video-js {
    margin: 15px;
}
